<%= turbo_frame_tag :results do %>
  <div class="list-group mt-3">
    <% @posts.each do |post| %>
      <%= link_to post.title,
        welcome_path(post),
        class: "list-group-item list-group-item-action",
        "data-controller": "search-active" %>
    <% end %>
  </div>
<% end %>