<div class="row">
  <div class="col-4">
    <%= form_with url: root_path do |f| %>
      <%= f.text_field :query, class: "form-control", "data-controller": :search %>
    <% end %>
    <%# searched posts display here %>
    <%= render "welcome/results" %>
  </div>

  <div class="col-8">
    <%= turbo_frame_tag :show_content %>
  </div>
</div>
