<% if notice %>
  <div class="notice hideMe alert alert-success"><%= notice %></div>
<% elsif alert %>
  <div class="alert hideMe alert alert-danger"><%= alert %></div>
<% end %>
<style>
  .hideMe {
      -webkit-animation: cssAnimation 5s forwards;
      animation: cssAnimation 5s forwards;
    }
  @keyframes cssAnimation {
      0%   {opacity: 1;}
      90%  {opacity: 1;}
      100% {opacity: 0;}
  }
  @-webkit-keyframes cssAnimation {
      0%   {opacity: 1;}
      90%  {opacity: 1;}
      100% {opacity: 0;}
  }
</style>
